# Python artifacts
__pycache__/
*.pyc
*.log
*.tmp
*.bak
*.db

# MkDocs build output
/mkdocs/site/

# dbt artifacts
/dbt/target/
/dbt/dbt_packages/
/dbt/logs/

# Backup or OS junk
*.log
*.pyc
__pycache__/
.DS_Store
.env

# Virtual environments (any depth)
venv/
*/venv/
.venv/
venv_bak/

# Data artifacts
*.parquet
*.csv

# Build/package/dependency folders
**/target/
**/dbt_packages/

# OS/editor system junk
.DS_Store

# Dagster project cache and history
/dagster/

# Metabase database artifacts
metabase/*.mv.db
metabase/*.trace.db
*.jar

# DBT artifacts
dbt/logs/
dbt/target/
dagster_backup_20250514_1306.zip*.env
*.env.sh
